$background-first-color: #fff3e3;
$primary-color: #b88e2f;
$primary-button-weight: bold;
$primary-overline-weight: 600;
$second-span-color: #666666;
$third-description-color: #f4f5f7;
$third-description-p: #898989;
$third-description-h3: #3a3a3a;
