@use "../styles/variables.scss" as *;

.swiper {
  max-width: 50%;

  .swiper-button-next,
  .swiper-button-next::after {
    color: $primary-color;
    content: "";
    background: url("/navigationBtn.svg") no-repeat center
      rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .swiper-button-prev::after,
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-pagination-bullet {
    background: url("/pagination.svg") no-repeat center;
    opacity: 0.7;
    margin: 0 4px;
  }

  .swiper-pagination-bullet-active {
    background: url("/paginationActive.svg") no-repeat center;
    opacity: 1;
    border: 1px solid $primary-color;
    padding: 0.75vw;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}
