@use "../styles/variables.scss" as *;

.thirdContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  h2 {
    margin-bottom: 2vw;
  }
  a {
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 0.75vw 5vw;
    transition: 0.4s ease-in-out;
  }
  a:hover,
  a:active {
    color: white;
    background-color: $primary-color;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5vw;
    gap: 5vw;
    li {
      div {
        width: 18.35vw;
        height: 19vw;
      }
      section {
        display: flex;
        gap: 1vw;
        flex-direction: column;
        background: $third-description-color;
        padding: 2vw;
        h3,
        span {
          color: $third-description-h3;
          s {
            color: $third-description-p;
            font-size: smaller;
          }
        }
        h3 {
          font-size: x-large;
        }
        span {
          font-size: large;
          font-weight: 600;
        }

        p {
          color: $third-description-p;
        }
      }
    }
  }
}
